
<li class="p-6 m-2 bg-blue-50 rounded-xl shadow-md">
    <input class="m-2" type="checkbox" name="Status" @bind="TodoItem.Status" />

    @if (Editing)
    {
        <input @bind="@NewName" class=" font-mono text-lg rounded border-2" />
        <button class="shadow-md rounded p-1 bg-blue-100" @onclick="Save">Save</button>
    }
    else
    {
        <label class="mr-2 w-4/6 font-mono text-lg">@TodoItem.Name</label>
        <button class="shadow-md rounded p-1 bg-blue-100" @onclick="Edit">Edit</button>
        <button class="shadow-md rounded p-1 bg-red-100" @onclick="Delete">Delete</button>

    }

</li>

