<div class="container">

    <ul class="flex w-full flex-wrap">
        @foreach (var todoItem in TodoItems)
        {
            <li class="container w-full h-24">
                <input type="checkbox" name="Status" @bind="todoItem.Status" />
                <label>@todoItem.Name</label>
            </li>
        }

    </ul>

    <input type="text" @bind="@NewTodoItemName" />
    <button class="btn btn-primary" @onclick="@AddTodoItemToList">Add</button>
</div>




