<div class="container  flex-col" >

    <div>
        <ul class="flex flex-row">
            @foreach (var todoItem in TodoItems)
            {
                <li class="p-6 m-1 bg-blue-100 rounded-xl shadow-md">
                    <input class="" type="checkbox" name="Status" @bind="todoItem.Status" />
                    <label class="font-mono text-lg">@todoItem.Name</label>
                </li>
            }

        </ul>
    </div>
     
    
    <div class="">
        <input class="p-6 m-1 border-2 rounded-xl " type="text" @bind="@NewTodoItemName" />
        <button class="p-6 m-1 bg-blue-100 rounded-xl shadow-md font-mono text-lg" @onclick="@AddTodoItemToList">Add</button>
    </div>
    
</div>




